.idea

*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
Tongue_WebUI/players/flow/LICENSE.md
Tongue_WebUI/players/flow/flowplayer.js
Tongue_WebUI/players/flow/flowplayer.min.js
Tongue_WebUI/players/flow/index.html
Tongue_WebUI/players/flow/skin/all-skins.css
Tongue_WebUI/players/flow/skin/functional.css
Tongue_WebUI/players/flow/skin/minimalist.css
Tongue_WebUI/players/flow/skin/playful.css
