
a
{
    text-decoration:none;
}

.active {
    background-color:red;
}

ul
{
    padding: 0;
    list-style-type: none;
}

td.shows_col
{
    background-color:#FFFFFF;
    vertical-align:top;
    min-width:300px;
    max-width:300px;
}

div.shows_div
{
    overflow-y:auto;
    height:600px;
    width:100%;
    min-width:300px
}

td.seasons_col
{
    background-color:#FFFFFF;
    vertical-align: top;
    min-width: 110px;
    max-width: 110px
}

div.season_div
{
    overflow-x:auto;
    overflow-y:auto;
    height:600px;
    width:100%;
    min-width:110px;
}

td.episode_col
{
    background-color:#FFFFFF;
    text-align: left;
    vertical-align: top;
    min-width: 300px;
    width:30%
}

div.episode_div
{
    overflow-x:auto;
    overflow-y:auto;
    height:600px;
}

td.episode_details_col
{
    background-color:#FFFFFF;
    text-align: left;
    vertical-align: top;
    min-width: 20%;
    width:20%
}

div.episode_details_div
{
    overflow-x:auto;
    overflow-y:auto;
    height:600px;
    width:100%
}

td.movie_list_col
{
    vertical-align:top;
    width: 45%
}

div.movie_list_div
{
    overflow-y:auto;
    height:600px
}

td.movie_details_td
{
    vertical-align:top;
    width:45%;
    text-align: left
}

td.movie_details_col
{
    vertical-align:top;
}

td.movie_details_div
{
    overflow-y:auto;
    height:600px;
}

td.index_contents_col
{
    background-color:#FFFFFF;
    vertical-align: top;
    min-width: 80px;
    width:80px
}

td.index_center
{
    background-color:#FFFFFF;
}

td.index_header
{
    height: 40px
}

h4.index_header
{
    text-align: center
}

table.shows_table
{
    border-width: 1px;
    border-spacing: 1px;
    width:100%
}

div.details_div
{
    overflow-y:auto;
    height:600px;
}

td.details_col
{
    vertical-align:top;
}

th.details_table_head
{
    width: 75%
}

table.main_table
{
    min-width:1200px;
    max-width:1900px;
    width:100%
}

table.episode_details_table
{
    border-width: 1px;
    border-spacing: 1px
}

td.running
{

}

td.stopped
{

}